<%- formTagBegin({ action: "/verify_login" }) %>
	<div class="control-group">
		<label class="control-label" for="password">
			<%= t('nav.nameOrEmail') %>
		</label>
		<div class="controls">
			<input type="text" placeholder="name" id="name" name="name" value="user">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="password">
			<%= t('nav.password') %>
		</label>
		<div class="controls">
			<input type="password" placeholder="password" id="password" name="password" value="password">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me"
			id="remember-me" value="1">
			<label class="string optional" for="user_remember_me">
				<%= t('nav.remember') %>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<div class="form-actions">
				<input class="btn btn-primary btn-block" type="submit" id="sign-in" value="<%= t('nav.signIn') %>">
			</div>
		</div>
	</div>
	<%- formTagEnd() %>
