<ul class="breadcrumb">
    <li><a href="/"><%= t('locale.home') %></a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.users() %>"><%= t('users_controller_client.users') %></a> <span class="divider">/</span></li>
    <li class="active"><a href="#"><%= t('users_controller_client.action_new_title') %></a></li>
</ul>

<div class="page-header">
    <h1><%= t('users_controller_client.action_new_title') %></h1>
</div>

<% var form = formFor(user, {action: pathTo.users(), method: 'POST', id: "user-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Create user', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.users(), {class: 'btn'}) %>
</div>
<%- form.end() %>
 