<ul class="breadcrumb">
    <li><a href="/"><%= t('locale.home') %></a> <span class="divider">/</span></li>
    <li class="active"><a href="<%- pathTo.posts() %>"><%= t('posts_controller_client.posts') %></a> <span class="divider">/</span></li>
</ul>

<div class="page-header">
    <h1><%= t('posts_controller_client.action_top_title') %></h1>
</div>


<div class="row">
    <div class="col-md-12">
        <% if (posts.length > 0) { %>
        <% posts.forEach(function (post) { %>
        <div class="container">
            <h3> <%- post.title %>  </h3>
            <p> <div class="flag flag-<%- post.language %>" style="float: left;"> </div> <i> <%- post.teaser %> </i> </p>
            <p> <%- post.content %> <%- link_to('...', pathTo.post(post)) %> </p>
        </div>
        <% }); %>

        <% } else { %>
        <p class="alert alert-block alert-info">
        <strong>No posts were found.</strong>
        </p>
        <% } %>
    </div>
</div>

