<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
 <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Defendtheplanet</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li>
            <%- link_to(t('nav.pages_top'), '/pages_top') %>
                        </li>
                        <li>
                             <%- link_to(t('nav.posts_top'), '/posts_top') %>
                        </li>
        <!--<li><a href="#"> <%= t('locale.check') %> </a></li>--> 
    </ul>

     <ul class="nav navbar-nav navbar-right">
        <li> 
                            <a  data-no-instant href="/change_language/de" class="language-switch" style="display:inline; padding:3px;">
                                <div class="flag flag-de"  alt="<%= t('nav.change2en') %>"  title="<%= t('nav.change2de') %>" /> </div>
                            </a>
                        </li>
                        <li> 
                            <a  data-no-instant href="/change_language/en" class="language-switch" style="display:inline; padding:3px;">
                                <div class="flag flag-gb" alt="<%= t('nav.change2en') %>" title="<%= t('nav.change2en') %>" />  </div>
                            </a>
                        </li>
                        <li> 
                            <a  data-no-instant href="/change_language/fr" class="language-switch" style="display:inline; padding:3px;">
                                <div class="flag flag-fr"  alt="<%= t('nav.change2fr') %>" title="<%= t('nav.change2fr') %>" /> </div>
                            </a>
                        </li>
                        <li> 
                            <a  data-no-instant href="/change_language/es" class="language-switch" style="display:inline; padding:3px;">
                                <div class="flag flag-es"  alt="<%= t('nav.change2es') %>"  title="<%= t('nav.change2es') %>" /> </div>
                            </a>
                        </li>
      <% if (typeof request.session != 'undefined' && typeof request.session.user != 'undefined'  && typeof request.session.user.name != 'undefined'  && request.session.user.name.length > 0) { %>
                    <li class="dropdown">
                        <a  data-no-instant class="dropdown-toggle" href="/login" data-toggle="dropdown">
                            <%= request.session.user.name %>
                                <strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li><a  data-no-instant href="#"><%= t('nav.profile') %></a></li>
                                <% if (request.session.user.isAdmin == true) { %>
                                    <li><%- link_to('<i class="icon-book"></i> '+ t('nav.adminlink'), '/admin/pages') %>
                                    </li>
                                <% } %>
                                <li><a  data-no-instant href="/logout"><%= t('nav.logout') %></a></li>
                            </ul>
                    </li>
                    
                    <% } else { %>
                    <li>
                        <%- link_to('<i class="icon-edit icon-white"></i> '+t('nav.signup'), pathTo.signup) %>
                    </li>
                    <li class="dropdown">
                        <a  data-no-instant class="dropdown-toggle" href="/<%= pathTo.login %>" data-toggle="dropdown"> <%= t('nav.login') %><strong class="caret"></strong></a>
                        <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                            <%- include ../users/_login_form %>
                        </div>
                    </li>
                    <% } %>
    </ul>
  </div><!-- /.navbar-collapse -->

  </div>
</nav>

<div class="container">
            <% var flash = request.flash('info').pop(); if (flash) { %>
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>

            <% var flash = request.flash('warn').pop(); if (flash) { %>
                <div class="alert alert-warning">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>

            <% var flash = request.flash('success').pop(); if (flash) { %>
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>

            <% flash = request.flash('error').pop(); if (flash) { %>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% }; %>
<div> 