<!DOCTYPE html>
<html lang="<%= t('locale') %>">
    <head>
        <title><%= title %> - Defendtheplanet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- stylesheetLinkTag('bootstrap', 'application', 'bootstrap-responsive','flags') %>
        <%- javascriptIncludeTag('bootstrap', 'rails', 'application', 'applicationNoCoffee','sorttable','instantclick') %>
        <%- csrfMetaTag() %>
    </head>
    <body>